[submodule "external/TGUI"]
	path = external/TGUI
	url = https://github.com/texus/TGUI.git
[submodule "external/SFML"]
	path = external/SFML
	url = https://github.com/SFML/SFML.git
[submodule "external/Nuklear"]
	path = external/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
